<!doctype HTML>

<html>

<head>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="static/main.css"> -->
</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home.index') }}">
        <img src="static/LOGO.png" alt="Cantu Developments">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ url_for('home.projects') }}" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('home.unity') }}" class=" nav-link ">Unity Games</a>
            </li>
            <li class="nav-item ">
                <a href="{{ url_for( 'home.contact') }} " class="nav-link ">Contact</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
<div id="projects">
    <h1>Projects</h1>
    <p>List of Projects I have worked on</p>
</div>
<div id="unity-games">
    <h1>Unity</h1>
    <p>List of Unity Games I have made</p>
</div>
<div id="contact">
    <h1>Contact</h1>
    <p>Contact information</p>
</div>
{% endblock %}

</html>